@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

body {
    line-height: 1.8;
    background-color: #fff;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}

